@charset "utf-8";

div.zz_debug_window {
    color: #000000;
    display: inline-block;
    border-radius: 8px;
    border: 2px solid #aaaaaa;
    background-color: #dddddd;
    padding-bottom: 8px;
    margin: 0;
    text-shadow: -1px -1px #fff, 1px -1px #fff, -1px 1px #fff, 1px 1px #fff;
}

div.zz_debug_window div {
    padding: 0px 8px;
}

div.zz_debug_window input[type="button"] {
    padding: 0px;
    font-size: 0.8em;
}

div.zz_debug_title {
    margin: 0px 0px 8px 0px;
    padding: 3px 8px;
    background-color: #cccccc;
    border-radius: 8px 8px 0px 0px;
    border-bottom: 2px solid #aaaaaa;
    text-align: center;
}

div.zz_debug_title:hover {
    background-color: #dddddd;
    color: #999999;
    cursor: move;
}

div#zz_debug_property_window {
    text-align: right;
}

div#zz_debug_object_tree_window {
    background-color: rgba(200, 200, 200, 0.7);
}

/* インデント目的 */
div#zz_debug_object_tree_window .group {
    margin: 2px 5px;
    padding: 2px 10px;
}
